<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>

    html, body {
      height: 100%;
    }

    canvas {
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border:3px solid #ffc107;
      border-radius: 5px;
    }

    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Simple glTF Viewer</title>
  </head>
  <body class="bg-dark">

    <div class="container fixed-top rounded border-bottom border-secondary bg-dark text-left">
      <div class="h2 mt-2 text-warning">Simple glTF Viewer <i class="fas fa-cube"></i></div>
      <div class="h3 mb-1 text-secondary">with <i class="fab fa-js-square"></i> and <i class="fab fa-python"></i></div>
    </div>

<!--     <div id="info">
        <a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - GLTFLoader<br />
        Battle Damaged Sci-fi Helmet by
        <a href="https://sketchfab.com/theblueturtle_" target="_blank" rel="noopener">theblueturtle_</a><br />
        <a href="https://hdrihaven.com/hdri/?h=pedestrian_overpass" target="_blank" rel="noopener">Pedestrian Overpass</a> by <a href="https://hdrihaven.com/" target="_blank" rel="noopener">HDRI Haven</a>
    </div> -->

    <div class="mt-5 mb-4 text-dark" id="after">empty</div>

    <div class="h3 mb-2 text-center text-secondary">Interact with the <span class="text-warning">canvas</span> below&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down text-warning"></i></div>

    <div class="container py-2 rounded bg-secondary position-relative">
      <div class="row">
        <div class="col-lg-3 mx-auto p-0 rounded text-left">
          <div class="position-absolute">
            <div class="card">
              <div class="card-header">
                Implementation
              </div>
              <ul class="list-group list-group-flush" style="font-size: 0.9rem">
                <li class="list-group-item">This is a web application, an example of a WebGL
                                            implementation, where Flask (Python library) was used for the server 
                                            and the Three.JS library for building the canvas</li>
                <li class="list-group-item">The canvas is built with a script that first loads 
                                            the <span class="text-warning font-weight-bold">map as a texture</span> (.hdri) and then 
                                            the <span class="text-warning font-weight-bold">glTF model</span> (.gltf, plus other needed textures)</li>
                <li class="list-group-item">At the bottom of the page, you can change the model, the map displayed or even add your
                                            own, placing them using the bellow directory structure</li>
                <li class="list-group-item">Model dir: <span class="text-success font-weight-bold">'js/models/gltf/'</span></li>
                <li class="list-group-item">Map dir: <span class="text-success font-weight-bold">'js/textures/equirectangular/'</span></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mx-auto" id="placeholder">
        </div>

        <div class="col-lg-3 mx-auto p-0 rounded text-right">
          <div class="position-absolute">
            <div class="card">
              <div class="card-header">
                Tutorial
              </div>
              <ul class="list-group list-group-flush" style="font-size: 1rem">
                <li class="list-group-item">Camera can be rotated easily using the
                                            <span class="text-warning font-weight-bold">mouse controls</span> (implemented with the 'OrbitControls.js' module)</li>
                <li class="list-group-item">Use the <span class="text-success font-weight-bold">mouse-wheel for zooming</span></li>
                <li class="list-group-item">Hold <span class="text-success font-weight-bold">left-click to rotate</span></li>
                <li class="list-group-item">Hold <span class="text-success font-weight-bold">right-click to position yourself</span></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
        

    <div class="container py-2 my-3 rounded bg-secondary">

      <div class="row">
        <div class="col-lg-7 mr-auto p-2 bg-warning rounded">
          <form method="POST">
            <div class="form-group text-center">
              <label for="this_select">Select another model from the list below</label>
              <select class="form-control" id="this_select" name="model_select">
                {% for model in all_models %}
                  {% if model == sel_model %}
                    <option selected>{{ model }}</option>
                  {% else %}
                    <option>{{ model }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Select Model</button>
          </form>
        </div>

        <div class="col-lg-4 ml-auto p-2 bg-warning rounded">
          <form method="POST">
            <div class="form-group text-center">
              <label for="this_select">Select another map from the list below</label>
              <select class="form-control" id="this_select" name="map_select">
                {% for map in all_maps %}
                  {% if map == sel_map %}
                    <option selected>{{ map }}</option>
                  {% else %}
                    <option>{{ map }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Select Map</button>
          </form>
        </div>
      </div>


    </div>

    <script src="js/three/build/three.js"></script>

    <script src="js/three/controls/OrbitControls.js"></script>
    <script src="js/three/loaders/GLTFLoader.js"></script>

    <script src="js/three/loaders/EquirectangularToCubeGenerator.js"></script>
    <script src="js/three/loaders/RGBELoader.js"></script>

    <script src="js/three/pmrem/PMREMGenerator.js"></script>
    <script src="js/three/pmrem/PMREMCubeUVPacker.js"></script>

    <script src="js/three/WebGL.js"></script>
    <script src="js/three/libs/stats.min.js"></script>

    <script>
      if ( WEBGL.isWebGLAvailable() === false ) {
          document.body.appendChild( WEBGL.getWebGLErrorMessage() );
      }

      var container, stats, controls;
      var camera, scene, renderer;
      init();
      animate();
      function init() {
          nav = document.getElementById('after');
          container = document.getElementById('placeholder');
          container.height = window.innerHeight/1.75;
          container.width = window.innerWidth/3.5;

          camera = new THREE.PerspectiveCamera( 90, (window.innerHeight/1.75) / (window.innerWidth/3.5), 0.1, 200 );
          camera.position.set( 5, 3, 1 );
          scene = new THREE.Scene();
          var loader = new THREE.RGBELoader().setPath( '{{ map_dir_path }}' );
          loader.load( '{{ map_file_path }}', function ( texture ) {
              texture.encoding = THREE.RGBEEncoding;
              texture.minFilter = THREE.NearestFilter;
              texture.magFilter = THREE.NearestFilter;
              texture.flipY = true;
              var cubeGenerator = new THREE.EquirectangularToCubeGenerator( texture, { resolution: 2048 } );
              cubeGenerator.update( renderer );
              var pmremGenerator = new THREE.PMREMGenerator( cubeGenerator.renderTarget.texture );
              pmremGenerator.update( renderer );
              var pmremCubeUVPacker = new THREE.PMREMCubeUVPacker( pmremGenerator.cubeLods );
              pmremCubeUVPacker.update( renderer );
              var envMap = pmremCubeUVPacker.CubeUVRenderTarget.texture;
              // model
              var loader = new THREE.GLTFLoader().setPath( '{{ model_dir_path }}' );
              loader.load( '{{ model_file_path }}', function ( gltf ) {
                  gltf.scene.traverse( function ( child ) {
                      if ( child.isMesh ) {
                          child.material.envMap = envMap;
                      }
                  } );
                  scene.add( gltf.scene );
              } );
              pmremGenerator.dispose();
              pmremCubeUVPacker.dispose();
              scene.background = cubeGenerator.renderTarget;
          } );
          renderer = new THREE.WebGLRenderer( { antialias: true } );
          renderer.setPixelRatio( window.devicePixelRatio );
          renderer.setSize( container.width, container.height );
          renderer.gammaOutput = true;

          controls = new THREE.OrbitControls( camera, renderer.domElement );
          controls.target.set( 0, - 0.2, - 0.2 );
          controls.update();

          stats = container.appendChild( renderer.domElement );
          container.addEventListener( 'resize', onWindowResize, false );
          // stats
          stats = new Stats();
          container.appendChild( stats.dom );
      }
      function onWindowResize() {
          camera.aspect = (window.innerHeight/1.75) / (window.innerWidth/3.75);
          camera.updateProjectionMatrix();
          renderer.setSize( window.innerWidth/3.75, window.innerHeight/1.75 );
      }
      //
      function animate() {
          requestAnimationFrame( animate );
          renderer.render( scene, camera );
          stats.update();
      }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then FontAwesome-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </body>
</html>
